# Data directory
/data/
!data/processed/geocoded_districts.csv

# IDE (Integrated Development Environment)
.idea/

# Jupyter notebooks
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
